:root {
  --black-color: #000;
  --white-color: #fff;

  --gray100-color: #f1f1f1;
  --gray200-color: #eaecee;
  --gray800-color: #242d35;
  --gray900-color: #0c1116;

  --blue50-color: #f7f7fb;
  --blue100-color: #d8d8fe;
  --blue400-color: #6e6ef7;
}
